{% load static %}
<nav>
  <div class="nav-logo"><a href="#">Назва сайту</a></div>
  <ul class="nav-links">
    <li class="profile-dropdown">
      <a href="#">
          {% if profile.user.image.url %}
   <img src="{{profile.image.url}}" alt="Profile Picture">
    {% else %}
    <img src="{% static 'default_img/images.png' %}" alt="Icon">
    {% endif %}





        <div class="dropdown-menu">
          <a href="{% url 'logout' %}">Leave</a>
        </div>
      </a>
    </li>
  </ul>
</nav>

<div class="sidebar">
  <ul>
    <li><a href="{% url 'main' %}"><i class="fas fa-user"style="color:#005eff "></i> Моя сторінка</a></li>
    <li><a href="{% url 'f_list'%}"><i class="fas fa-comment"style="color:#005eff "></i> Месенджер</a></li>
    <li><a href="{% url 'list' %}"><i class="fas fa-users"style="color:#005eff "></i> Друзі</a></li>
    <li><a href="{%url 'gallery'%}"><i class="fas fa-camera"style="color:#005eff "></i> Фотографії</a></li>
    <li><a href="{% url 'all' %}"><i class="fas fa-newspaper"style="color:#005eff "></i> Новини</a></li>
  </ul>
</div>

